post_processing/
post_process.ipynb
postprocess_template.ipynb
postprocess.ipynb
post_process_clean.ipynb

*/__pycache__
*/.pytest_cache

.vscode/

build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

.ipynb_checkpoints/

*.log
.qodo
.DS_Store
*.sh
